.phoneBlock {
  display: none;

  @media (max-width: 450px) {
    overflow: hidden;
    position: relative;
    padding: 2rem;
    background: #ffa921;
    border-radius: 20px;

    display: flex;
    align-items: center;
    box-shadow: 3px 3px 18px rgb(0 0 0 / 25%);
    margin-bottom: 1rem;
    svg {
      width: 3rem;
    }
    path {
      stroke: #2b2c33;
    }
    &__icon {
      margin-right: 1.5rem;
    }
    &__textBlock {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1em;
      letter-spacing: 0.03em;
      color: #ffffff;
      @media (max-width: 340px) {
        font-size: 1rem;
      }
    }
    &__number {
      font-weight: 500;
      font-size: 2rem;
      line-height: 1em;
      /* identical to box height */

      letter-spacing: 0.04em;

      color: #2b2c33;

      @media (max-width: 363px) {
        font-size: 1.8rem;
      }
      @media (max-width: 340px) {
        font-size: 1.5rem;
      }
    }
  }
}
