//КНОПКИ
.buttonMainSmall, .buttonMain, .buttonMainText {

    cursor: pointer;
    border-radius: .625rem;

    padding: 3px 1.9rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: 0.015em;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;

    transition: all .2s linear;
}
.buttonMainSmall {
    background: linear-gradient(155.68deg, #FFA921 1.42%, #F8D296 130.92%);
    text-transform: uppercase; 
    height: 40px;
    line-height: 34px;
}
.buttonMain {
    background: #FFA921;
    font-size: 1.25rem;
    height: 3.75rem;
    line-height: 3.375rem;

    &.noBg {
        color: #FFA921;
        background: unset;
        border: 2px solid #FFA921;
    }
}
.buttonMainText {
    height: 3.75rem;

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 3.375rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFA921;

    &:hover {
        text-decoration: underline;
    }
}