.updateRow {
  display: flex;
  input {
    width: 100%;
    flex: 1 1 auto;
    height: 100%;
    background: inherit;
    font-size: 10px;
  }

  .standard {
    fill: rgb(53, 182, 81);
    cursor: pointer;

    &.hold {
      cursor: default;
      fill: rgb(87, 87, 87);
    }
  }
}
